body {
  font-family: 'Spartan', sans-serif;
}

.title {
  font-size: 56px;
  font-weight: bold;
  color: #1aa7ec;
  line-height: 129%;
  text-shadow: 1px 1px 0 #1aa7ec, -1px -1px 0 #1aa7ec, 1px -1px 0 #1aa7ec, -1px 1px 0 #1aa7ec;
}

.section-title {
    font-size: 36px;
    font-weight: 900;
    color: #000000;
    margin-bottom: 6%;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  }

.content {
  font-size: 20px;
  color: #454545;
  font-weight: 550;
  line-height: 171.5%;
}

button {
  background-color: #1aa7ec !important;
  border: none !important;
  border-radius: 8px !important;
}

.navbar-brand {
  color: #454545 !important;
  font-size: 24px;
  font-weight: 900 !important;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #1aa7ec !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #454545;
}

.hidden-spacer {
  height: 56px;
}

.wrapper-section-1{
    margin-top: 8%;
    min-height: 650px;
}

.wrapper-section-1 img{
    width: 650px;
}

.wrapper-section-2{
    margin-top: 8%;
    min-height: 550px;
}

.wrapper-section-2 .icon{
    width: 32.78px;
    color: #1aa7ec;
    margin-top: 15px;
    margin-bottom: 15px;
}

.bio-image{
    width: 360px;
    border-radius: 15px;
}

.footer{
    background-color: #1aa7ec;
    min-height: 60px;
}

.project-section{
  margin-top: 8%;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

.card {
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, .125);
	border-radius: .25rem;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
	display: inline-block;
	margin-bottom: 30px;
	vertical-align: top;
	width: 31%;
}

.card-deck {
	margin-top: 30px;
}

.card-img-top {
	display: block;
	margin: 0 auto;
	width: 80%;
	height: auto;
  border-radius: 10px !important;
}

.card:nth-child(2) .card-img-top {
  width: 80%;
  height: 150px; /* set a fixed height to maintain aspect ratio */
}

.card-title {
	margin-top: 30px;
	text-align: center;
  color: #1aa7ec;
}

.card-body {
  text-align: center;
}

.card-body .card-text {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-body .center-btn {
  margin-top: 20px;
}